<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="pidie-0.0.8.css" rel="stylesheet"/>
    <title>Data Khách Hàng</title>
</head>
<body>
    <div class="pd-container">
        <div class="pd-row">
            <div class="pd-col-md-3">

            </div>
            <div class="pd-col-md-9">
                <div class="pd-horizontal-filter">
                    <a href="#" class="pd-button-grid"><span class="pd-icon">View Module</span></a>
                    <a href="#" class="pd-button-list"><span class="pd-icon">View Module</span></a>
                    <input type="search" class="id-input-fitler" placeholder="Search Item"/>
                </div>
                <div class="pd-filter pd-filter-grid pd-row">
                    <div class="pd-list-grid pd-col-md-4">
                        <div class="pd-card">
                            <img src="https://kenh14cdn.com/thumb_w/640/2020/3/10/125920-ngoc-trinh-tuot-mat-danh-hieu-dep-khong-ti-vet-vi-loat-khuyet-diem-nay6-15838436929521714781923-crop-1583843723906548836325.jpg" alt="">
                            <div class="pd-card-body">
                                <b class="pd-card-title">Product 1</b>
                                <p class="pd-card-text pd-text-orange">10000đ</p>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-danger pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-primary pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-success pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="pd-list-grid pd-col-md-4">
                        <div class="pd-card">
                            <img src="https://kenh14cdn.com/thumb_w/640/2020/3/10/125920-ngoc-trinh-tuot-mat-danh-hieu-dep-khong-ti-vet-vi-loat-khuyet-diem-nay6-15838436929521714781923-crop-1583843723906548836325.jpg" alt="">
                            <div class="pd-card-body">
                                <b class="pd-card-title">Product 1</b>
                                <p class="pd-card-text pd-text-orange">10000đ</p>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-danger pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-primary pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                            <div class="pd-card-footer pd-text-right">
                                <button class="pd-button pd-button-success pd-button-sm">
                                    <span class="pd-icon"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="pidie-0.0.8.js"></script>
  <script>
    var pidie = new Pidie();
  </script>

</body>
</html>