<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Database Khách Đặt</title>
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <style>
    #customers {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4CAF50;
      color: white;
    }
  </style>
</head>

<body>
  <script>
    // Initialize Firebase
    var firebaseConfig = {
      apiKey: "AIzaSyAZv4pJi5HHFHet61Jmmln9hxALCJDv_ec",
      authDomain: "mongcaifoodymcbyfanpage.firebaseapp.com",
      databaseURL: "https://mongcaifoodymcbyfanpage.firebaseio.com",
      projectId: "mongcaifoodymcbyfanpage",
      storageBucket: "mongcaifoodymcbyfanpage.appspot.com",
      messagingSenderId: "122111426704",
      appId: "1:122111426704:web:aa93b3749dab5a0e46d815",
      measurementId: "G-D2PGHB125N"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);


    var xxxxx = document.getElementById("xxxxx");
    var idc = document.getElementById("id");
    var emailc = document.getElementById("email");
    var tencuahangc = document.getElementById("tencuahang");
    var diachic = document.getElementById("diachi");
    var sodtc = document.getElementById("sodt");
    var thoigianc = document.getElementById("thoigian");
    var linkfacebookc = document.getElementById("linkfacebook");
    var latitudec = document.getElementById("latitude");
    var longtitudec = document.getElementById("longtitude");
    var shipdoc = document.getElementById("shipdo");
    var danhmucc = document.getElementById("danhmuc");
    var imageHinhDaiDienc = document.getElementById("imageHinhDaiDien");

    var databaseget = firebase.database().ref().child('CuaHang/DanhSachCuaHang');
    databaseget.on("child_added", snap => {
      console.log(snap.val())
      var id = snap.child("id").val();
      var email = snap.child("email").val();
      var tencuahang = snap.child("tencuahang").val();
      var diachi = snap.child("diachi").val();
      var sodt = snap.child("sodt").val();
      var thoigian = snap.child("thoigian").val();
      var linkfacebook = snap.child("linkfacebook").val();
      var latitude = snap.child("latitude").val();
      var longtitude = snap.child("longtitude").val();
      var shipdo = snap.child("shipdo").val();
      var danhmuc = snap.child("danhmuc").val();
      var imageHinhDaiDien = snap.child("imageHinhDaiDien").val();
      xxxxx.append(id); // cai này của tbody xxx
    });
  </script>
  <button onclick="writeUserData()">Hello</button>

  <table id="customers">
    <thead>
      <tr>
        <td>id</td>
        <td>email</td>
        <td>Tên Cửa Hàng</td>
        <td>Địa Chỉ:</td>
        <td>sodt</td>
        <td>thoigian</td>
        <td>linkfacebook</td>
        <td>latitude</td>
        <td>longtitude</td>
        <td>shipdo</td>
        <td>danhmuc</td>
        <td>imageHinhDaiDien</td>
      </tr>
    </thead>
    <tbody >
      <!-- <%for(var i = 0; i<id.length;i++){%>
      <td ></td>
      <td ><%=email[i]%></td>
      <td><%=tencuahang[i]%></td>
      <td>Địa Chỉ:</td>
        <td>sodt</td>
        <td>thoigian</td>
        <td>linkfacebook</td>
        <td>latitude</td>
        <td>longtitude</td>
        <td>shipdo</td>
        <td>danhmuc</td>
        <td>imageHinhDaiDien</td>
      <%}%> -->
    </tbody>

  </table>
 
  <script src="js/firebaseVoting.js"></script>
</body>

</html>