<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div id="user_div" class="loggedin-div">
        <h3>Welcome User</h3>
        <p id="user_paracccc">Welcome to Firebase web login Example. You're currently logged in.</p>
        <button onclick="logout()">Logout</button>
      </div>
      <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var firebaseConfig = {
      apiKey: "AIzaSyAZv4pJi5HHFHet61Jmmln9hxALCJDv_ec",
      authDomain: "mongcaifoodymcbyfanpage.firebaseapp.com",
      databaseURL: "https://mongcaifoodymcbyfanpage.firebaseio.com",
      projectId: "mongcaifoodymcbyfanpage",
      storageBucket: "mongcaifoodymcbyfanpage.appspot.com",
      messagingSenderId: "122111426704",
      appId: "1:122111426704:web:aa93b3749dab5a0e46d815",
      measurementId: "G-D2PGHB125N"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

  </script>
  <script src="js/firebaseAuth.js"></script>
</body>
</html>